---
layout: default
---

<div class="home">
  <p> Hej og velkommen til MatBuddy.dk! </p>
  <br>
  <p> MatBuddy er din skræddersyede mathjælp både til din individuelle læring og hjælp fra en af vores Buddies! 
  På denne hjemmside har vi forskellige beviser på forskellige niveauer, som forhåbentligt kan hjælpe dig. </p>
  Se også vores <a href="https://www.facebook.com/MatBuddy.dk">Facebook side</a> og <a href="https://www.instagram.com/matbuddy.dk/">Instagram side</a>!
  <br>
  <p> Vi har også en YouTube kanal: <a href="https://www.youtube.com/channel/UC04dbeHL3eDonVzd8_5ZZpQ?fbclid=IwAR2Zu5kjVLSfPcN5AFz7jPWblv8S_q5EZ4NWoYSI1tPj2N3yn9R_owsJPAU"> din MatBuddy </a> </p>

  <img src="MatBuddyForside.png" alt="LOL">
</div>
